<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/R.7db3e5cbc65faa7ce24e0240104e0500?rik=3bAR7ApP65ebBw&pid=ImgRaw&r=0"
    alt=""
    height="300px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h1>
  </div>
  <div class="big-card__descreption">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non interdum orci, eu dignissim mi.
        Nunc sem dolor, varius et sagittis nec, porta sit amet ante.
      </a>
    </p>
  </div>


</div>
