.container__small-card{
  margin-bottom: 10px;
  width: 500px;

}
.container__small-card-content {
  display: flex;
  flex-direction: row;

}
.small-card__photo img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px ;
}

.small-card__title {

  display: flex;
  justify-content: center;
  align-items: center;
}
