<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://th.bing.com/th/id/R.7db3e5cbc65faa7ce24e0240104e0500?rik=3bAR7ApP65ebBw&pid=ImgRaw&r=0"
    cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    cardDescripition="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non interdum orci, eu dignissim mi.
    Nunc sem dolor, varius et sagittis nec, porta sit amet ante."


    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://th.bing.com/th/id/R.7db3e5cbc65faa7ce24e0240104e0500?rik=3bAR7ApP65ebBw&pid=ImgRaw&r=0"
    cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."


    ></app-small-card>
    <app-small-card
    photoCover="https://th.bing.com/th/id/R.7db3e5cbc65faa7ce24e0240104e0500?rik=3bAR7ApP65ebBw&pid=ImgRaw&r=0"
    cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."


    ></app-small-card>
    <app-small-card
    photoCover="https://th.bing.com/th/id/R.7db3e5cbc65faa7ce24e0240104e0500?rik=3bAR7ApP65ebBw&pid=ImgRaw&r=0"
    cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."


    ></app-small-card>


  </div>
</div>

